html {
  background-color: #9b12db;
}

body {
  color: #e8e8e8;
}

label {
  font-size: 40px;
}

button {
  margin: 12px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: : 20;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #2e2e2e;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,

.close:focus {
  text-decoration: none;
  cursor: pointer;
}